.top-viewed{
    margin-top: 0px;
    margin-bottom: 0px;
}
.status-list{
    padding-left:10px;
    font-size: x-large;
    margin-left: 7px;
    color: brown;
}
.status-list li{
 margin-left: 5px;
}

.box{
    border: 2px black solid;
    margin-top: 60px;
    padding: 10px;
}
.left-align{
    margin-left: -121px;
}